<% @page_title = t('blacklight.collections.index.page_title', application_name: application_name) %>
<% content_for(:head) do -%>
  <%= render 'catalog/opensearch_response_metadata', response: @response %>
<% end %>

<h1><%= t('blacklight.collections.index.title') %></h1>

<div id="content" class="row collections-list">

  <div id="collections_results" class="col-lg-9">

    <%= render CommonwealthVlrEngine::AzLinksComponent.new(context: 'collections') %>

    <%# render 'catalog/constraints' %>

    <%# render 'catalog/sort_and_per_page' %>

    <%= render 'constraints' %>
    <%= render 'catalog/search_header' %>

    <h2 class="sr-only visually-hidden"><%= t('blacklight.search.search_results') %></h2>

    <%= render_document_index(@response.documents) %>

    <%= render 'catalog/results_pagination' %>
  </div>

  <div id="sidebar" class="col-lg-3">
    <%= render 'catalog/search_sidebar' %>
  </div>

</div>