<% @page_title = t('blacklight.collections.index.page_title', :application_name => application_name) %>
<% content_for(:head) { render_opensearch_response_metadata } %>

<div id="content" class="col-sm-9 collections-list">

  <h2><%= t('blacklight.collections.index.title') %></h2>

  <% if should_render_col_az? %>
      <%= render partial: 'catalog/az_links', locals: {az_label: t('blacklight.collections.index.a-z_label'),
                                                       az_link_path: 'collections_path',
                                                       az_exclude: ['Q','X']} %>
  <% end %>

  <%= render 'catalog/sort_and_per_page' %>

  <h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

  <%= render_document_index %>

  <%= render 'catalog/results_pagination' %>

</div>

<%# not using facets at the moment %>
<div id="sidebar" class="col-sm-3">
  <%# render :partial=>'facets' %>
</div><!--/well -->