<% @page_title = t('blacklight.search.show.title', document_title: @document[blacklight_config.show.title_field.field], application_name: application_name) %>
<% content_for(:head) { render_link_rel_alternates } %>

<div id="document" class="<%= render_document_class %>">

  <div id="doc_<%= @document.id.to_s.parameterize %>">

    <%= render CommonwealthVlrEngine::BreadcrumbComponent.new(document: @document) %>

    <h1 class="collection-title"><%= @collection_title %></h1>

    <div class="row">

      <div class="col-lg-12">

        <%= render CommonwealthVlrEngine::BannerImageComponent.new(exemplary_document: @exemplary_document) %>

        <div id="collection_desc">
          <%= @document[:abstract_tsi].html_safe if @document[:abstract_tsi].present? %>
        </div>

        <div id="collection_search_tools">
          <div id="collection_view_all">
            <% if @document[blacklight_config.institution_field.to_sym] %>
              <%= link_to_all_col_items(@document, link_class: 'btn btn-info view-all-col') %>
            <% end %>
          </div>

          <span class="collection_search_separator">or</span>
          <%# render partial: 'search_form_collection', locals: { document: @document } %>
          <%= render Blacklight::SearchBarComponent.new(
            url: search_catalog_path, # don't use #search_action_url, returns /collections
            params: search_state.params_for_search.except(:q, :search_field, :qt, :page),
            i18n: { scope: 'blacklight.search.form.collection' }
          ) %>
        </div>

        <%= render CommonwealthVlrEngine::FeaturedItemsComponent.new(featured_documents: @featured_items,
                                                                     parent_document: @document) %>

        <%= render CommonwealthVlrEngine::ExploreRelationBaseComponent.new(
          explore_document: @institution_document, explore_exemplary_document: @institution_exemplary_document,
          parent_document: @document
        ) %>

      </div>

    </div>

  </div>

</div>

<% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
    <!--
         // COinS, for Zotero among others.
         // This document_partial_name(@document) business is not quite right,
         // but has been there for a while.
    -->
    <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
<% end %>
