<% @page_title = t('blacklight.institutions.index.page_title', application_name: application_name) %>
<% content_for(:head) do %>
  <%= render 'catalog/opensearch_response_metadata', response: @response %>
<% end %>

<h1><%= t('blacklight.institutions.title') %></h1>

<%= render 'institutions/intro_text' %>

<div id="content" class="row institutions-list">

  <div id="institutions_results" class="col-lg-9">

    <%= render CommonwealthVlrEngine::AzLinksComponent.new(context: 'institutions') %>

    <%= render 'constraints' %>
    <%= render 'catalog/search_header' %>

    <h2 class="sr-only visually-hidden"><%= t('blacklight.search.search_results') %></h2>

    <%# we may need this when map results view is working (from blacklight-maps) %>
    <%# render_institutions_index %>

    <%= render_document_index @response.documents %>

    <%= render 'catalog/results_pagination' %>
  </div>
</div>
