<% @page_title = t('blacklight.search.show.title', document_title: @document[blacklight_config.show.title_field.field], application_name: application_name) %>
<% content_for(:head) { render_link_rel_alternates } %>

<div id="document" class="<%= render_document_class %>">

  <div id="doc_<%= @document.id.to_s.parameterize %>">

    <div id="institution_geolocation">
      <%= render CommonwealthVlrEngine::HiergeoSubjectComponent.new(document: @document) %>
    </div>

    <h1 class="institution-title"><%= @institution_title %></h1>

    <div class="row">

      <div class="col-lg-12">

        <%= render CommonwealthVlrEngine::BannerImageComponent.new(exemplary_document: @exemplary_document,
                                                                   context: 'institution') %>

        <div id="institution_desc_wrap">
          <%= render_institution_desc(@document[:abstract_tsi]) if @document[:abstract_tsi] %>

          <% if @document[:institution_url_ss] %>
              <div id="institution_site_link_wrap">
                <%= link_to @document[:institution_url_ss], id: 'institution_site_link', target: '_blank' do %>
                  Visit institution web site <%= icon('fas', 'external-link-alt', aria: { hidden: true }) %>
                <% end %>
              </div>
          <% end %>
        </div>

        <div id="institution_search_tools">
          <div id="institution_view_all">
            <%= link_to_all_inst_items('btn btn-info view-all-inst') %>
          </div>
          <span class="institution_search_separator">or</span>
          <%# render partial: 'search_form_institution',
                     locals: { document: @document } %>
          <%= render Blacklight::SearchBarComponent.new(
            url: search_action_url,
            params: search_state.params_for_search.except(:q, :search_field, :qt, :page),
            i18n: { scope: 'blacklight.search.form.institution' }
          ) %>
        </div>

        <%= render CommonwealthVlrEngine::FeaturedItemsComponent.new(featured_documents: @featured_items,
                                                                     parent_document: @document) %>

        <%= render CommonwealthVlrEngine::CollectionsGalleryComponent.new(collection_documents: @collex_documents) %>
        <%# if @collex_documents.present? %>
<!--          <div id="institution_collections">-->
<!--              <h4>Digital Collections: <span id="collections_count">(<%#= @collex_documents.length %>)</span></h4>-->

             <%# render partial: 'catalog/document_collections_gallery',
                         locals: { documents: @collex_documents } %>
<!--          </div>-->
        <%# end %>
      </div>


      <!--
      <div id="sidebar" class="col-lg-3">
        <%# render partial: 'show_tools' if (request.host_with_port.match(/admin\./) ||
                                             Rails.application.class.module_parent_name == 'Commonwealth') %>
        <%# render 'search_sidebar' %>
      </div>
      -->

    </div>

  </div>

  <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
      <!--
           // COinS, for Zotero among others.
           // This document_partial_name(@document) business is not quite right,
           // but has been there for a while.
      -->
      <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
  <% end %>

  <script type="text/javascript">
    $('.institution_desc_expand').on('click', function() {
      toggleText($(this),
          '<%= I18n.t('blacklight.institutions.description.more') %>',
          '<%= I18n.t('blacklight.institutions.description.less') %>');
      $('#institution_desc_collapse, #institution_desc_static').toggleClass('institution_desc_inline');
    });
  </script>

</div>