<%= form_tag search_catalog_path, id: 'advanced_search_form', class: 'advanced', method: :get do  %>
  <%# search_as_hidden_fields(:params => advanced_search_context,
                                :op => 'AND' ) %>
  <div class="row">
    <div class="col-sm-8">
      <div id="advanced_search_fields" class="input_columns">
        <p>Enter search terms in the fields below.</p>
        <%= render 'advanced/advanced_search_fields' %>
      </div>

      <div id="advanced_search_limits" class="card bg-light">
        <div class="card-body">
          <h4><%= t('blacklight.advanced_search.limit') %></h4>
          <%= render 'advanced/advanced_search_date' %>
          <%= render 'advanced/advanced_search_facets' %>
        </div>
      </div>

      <div class="sort_submit_buttons">
        <div class="float-left">
          <%# label_tag(:sort, "Sort results by") %>
          <%# select_tag(:sort, options_for_select(sort_fields, h(params[:sort]))) %>
          <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>
        </div>
        <div class="float-right">
          <%= submit_tag 'Search', class: 'btn btn-primary advanced_submit' %>
          <%= link_to 'Start over',
                      blacklight_advanced_search_engine.advanced_search_path,
                      class: 'reset btn btn-outline-secondary' %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <%= render 'advanced/advanced_search_help' %>
    </div>
    <% unless (search_context_str = render_search_to_s( advanced_search_context)).blank? %>
        <div class="constraints">
          <h4>Within search:</h4>
          <%= search_context_str %>
        </div>
    <% end %>
  </div>
<% end %>