<%# the browse sections - collections, map, etc. %>
<div id="content_home_browse" class="row">
  <% if CommonwealthVlrEngine.config[:content][:sections][:maps][:enabled] %>
      <div class="col-sm-<%= @middle_feature_columns %>">
        <div id="map_browse" class="browse_item">
          <%= link_to(content_tag(:i, '', :class => 'fa fa-globe fa-5x'),
                      map_path,
                      :class => 'browse_icon_link') %>
          <h4 class=""><%= link_to t('blacklight.maps.title'), map_path %></h4>
          <p class="browse_item_desc"><%= t('blacklight.home.browse.maps.tagline') %></p>
        </div>
      </div>
  <% end %>

  <% if CommonwealthVlrEngine.config[:content][:sections][:collections][:enabled] %>
      <div class="col-sm-<%= @middle_feature_columns %>">
        <div id="collections_browse" class="browse_item">
          <%= link_to(content_tag(:i, '', :class => 'fa fa-folder-open fa-5x'),
                      collections_path,
                      :class => 'browse_icon_link') %>
          <h4 class="">
            <%= link_to t('blacklight.collections.index.title'), collections_path %>
          </h4>
          <p class="browse_item_desc"><%= t('blacklight.home.browse.collections.tagline') %></p>
        </div>
      </div>
  <% end %>

  <% if CommonwealthVlrEngine.config[:content][:sections][:institutions][:enabled] %>
      <div class="col-sm-<%= @middle_feature_columns %>">
        <div id="institutions_browse" class="browse_item">
          <%= link_to(content_tag(:i, '', :class => 'fa fa-institution fa-5x'),
                      institutions_path,
                      :class => 'browse_icon_link') %>
          <h4 class=""><%= link_to t('blacklight.institutions.title'), institutions_path %></h4>
          <p class="browse_item_desc"><%= t('blacklight.home.browse.institutions.tagline') %></p>
        </div>
      </div>
  <% end %>

  <% if CommonwealthVlrEngine.config[:content][:sections][:formats][:enabled] %>
      <div class="col-sm-<%= @middle_feature_columns %>">
        <div id="formats_browse" class="browse_item">
          <%= link_to(content_tag(:i, '', :class => 'fa fa-image fa-5x'),
                      formats_facet_path,
                      :class => 'browse_icon_link') %>
          <h4 class="">
            <%= link_to t('blacklight.navigation.format'), formats_facet_path %>
          </h4>
          <p class="browse_item_desc"><%= t('blacklight.home.browse.formats.tagline') %></p>
        </div>
      </div>
  <% end %>

</div>