<%# the context sections - about, news %>
<div id="content_home_context" class="row">

  <div id="content_home_about" class="col-sm-6">
    <h4><%= t('blacklight.home.context.about.title') %></h4>
    <p><%= t('blacklight.home.context.about.text') %></p>

    <p class="more-info-link">
      <%= link_to 'Learn more >>', about_path %>
    </p>
  </div>

  <div id="content_home_news" class="col-sm-6">
    <h4><%= t('blacklight.home.context.news.title') %></h4>
    <%= render_blog_feed %>
    <p class="more-info-link">
      <%= link_to 'More news >>',
                  t('blacklight.home.context.news.blog_url'),
                  :target => '_blank' %>
    </p>

  </div>

</div>
