<strong>Please review the terms of use for this item:</strong>
<ul class="downloads_terms">
  <% if document[:rights_ssm] %>
      <% document[:rights_ssm].each do |rights| %>
          <li><%= rights %></li>
      <% end %>
  <% end %>
  <% if document[:license_ssm] %>
      <% document[:license_ssm].each do |license| %>
          <li>
            <%= license %>
            <% if license.match(/\(CC\s/) %>
                <br/>
                  <%= link_to t('blacklight.downloads.cc'),
                              cc_url(license),
                              target: '_blank' %>
                  <%= render_cc_license(license) %>
            <% end %>
          </li>
      <% end %>
  <% end %>
  <li>
    <%= link_to t('blacklight.pages.contact.title'), feedback_path %> if you have questions about usage or reproduction.
  </li>
</ul>
<p>
  <strong>Click the button below to start your download</strong><br/>
  It may take a few moments for your download to begin, especially for larger files.<br/>
  Do not click the Download button more than once.
</p>