<strong>Please review the terms of use for this item:</strong>
<ul class="downloads_terms">
  <% if document[:rights_ss] %>
    <li><%= document[:rights_ss] %></li>
  <% end %>
  <% if document[:license_ss] %>
    <li>
      <%= document[:license_ss] %>
      <% if document[:license_ss].match(/\(CC/) %>
        <br/>
        <%= link_to t('blacklight.downloads.cc'),
                    cc_url(document[:license_ss]),
                    target: '_blank' %>
        <%= render_cc_license(document[:license_ss]) %>
      <% end %>
    </li>
  <% end %>
  <% unless public_domain?(document) %>
    <li>
      <%= render partial: 'downloads/indemnification' %>
    </li>
  <% end %>
  <li>
    <%= link_to t('blacklight.pages.contact.title'), feedback_path %> if you have questions about usage or reproduction.
  </li>
</ul>
<p>
  <strong>Click the button below to start your download</strong><br/>
  It may take a few moments for your download to begin, especially for large file sizes.
</p>