<% @page_title = t('blacklight.folders.add_folder') + " - " + application_name %>
<div class="col-sm-9">

  <div id="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to(t('blacklight.users.account_heading'), current_user) %>
        <span class="divider"><%= t('blacklight.breadcrumb.separator') %></span>
      </li>
      <li class="breadcrumb-item">
        <%= link_to(t('blacklight.folders.list_title'), folders_path) %>
        <span class="divider"><%= t('blacklight.breadcrumb.separator') %></span>
      </li>
      <li class="active breadcrumb-item">
        <%= t('blacklight.folders.add_folder') %>
      </li>
    </ul>
  </div>

  <div id="new_folder" class="folder_container">

    <h2><%= t('blacklight.folders.add_folder') %></h2>

    <%= render 'new_edit_form_fields', :form_object => @folder, :submit_button_text => 'Create Folder' %>

  </div>
</div>