<% @page_title = @folder.title + " - " + application_name %>

<%= javascript_include_tag 'bpluser/folder_tools' %>

<div id="content" class="folder_show_container col-sm-9">

  <div id="breadcrumb">
    <ul class="breadcrumb">
      <% if current_user %>
          <li class="breadcrumb-item">
            <%= link_to(t('blacklight.users.account_heading'), current_user) %>
            <span class="divider"><%= t('blacklight.breadcrumb.separator') %></span>
          </li>
      <% end %>
      <li class="breadcrumb-item">
        <%= link_to(t('blacklight.folders.list_title'), folders_path) %>
        <span class="divider"><%= t('blacklight.breadcrumb.separator') %></span>
      </li>
      <% unless current_user and current_user.folders.include?(@folder) %>
          <li class="breadcrumb-item">
            <%= link_to(t('blacklight.folders.public_list.title'), public_folders_path) %>
            <span class="divider"><%= t('blacklight.breadcrumb.separator') %></span>
          </li>
      <% end %>
      <li class="active breadcrumb-item">
        <%= @folder.title %>
      </li>
    </ul>
  </div>

  <h2>
    <%= @folder.title %>
    <% if current_user && folder_belongs_to_user %>
        <small id="folder_tools">
          <div class="folder_visibility">
            <% if @folder.visibility == 'public' %>
                <%= icon('fas', 'eye', aria: { hidden: true }) %>
                <span class="visibility_public"><%= @folder.visibility %></span>
            <% else %>
                <%= icon('fas', 'lock', aria: { hidden: true }) %>
                <span class="visibility_private"><%= @folder.visibility %></span>
            <% end %>
          </div>
          <%= link_to(icon('fas', 'edit', aria: { hidden: true }) + ' ' + t('blacklight.folders.edit'),
                      edit_folder_path(@folder),
                      class: 'btn btn-outline-secondary btn-sm',
                      title: 'edit this folder') %>
          <%= link_to(icon('fas', 'trash-alt', aria: { hidden: true }) + ' ' + t('blacklight.folders.delete.delete'),
                      @folder,
                      class: 'btn btn-outline-secondary btn-sm',
                      method: :delete,
                      data: { confirm: t('blacklight.folders.delete.confirm') },
                      title: t('blacklight.folders.delete.delete')) %>
        </small>
    <% end %>
  </h2>

  <%# render 'shared/tools' %>
  <% if @folder.description %>
      <div id="folder_description">
        <%= @folder.description %>
      </div>
  <% end %>

  <% unless @folder_items.empty? %>
      <%= render 'catalog/sort_and_per_page' %>

      <%= form_tag selected_folder_items_actions_path, method: :put, id: "item_actions_form" do %>
        <%= render partial: 'shared/folder_item_actions' %>
        <%= render_document_index %>
      <% end %>

      <%= render 'catalog/results_pagination' %>
  <% else %>
    <div id="empty_folder" class="well">
      <h5><%= t('blacklight.folders.empty') %></h5>
      <p><%= t('blacklight.folders.help.add_items') %></p>
    </div>
  <% end %>
</div>
<div id="sidebar" class="col-sm-3 folder_facets">
  <%# render 'catalog/search_sidebar' %>
</div><!--/well -->
