<div class="modal-header">
  <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="ocr_search_modal_title" class="modal-title">
    <%= truncate("#{t('blacklight.ocr.search.results.title')}: #{@document[blacklight_config.index.title_field.to_sym]}",
                 length: 40,
                 separator: ' ') %>
  </h3>
</div>
<div id="ocr_search_modal" class="modal-body">
  <div id="ocr_search_wrapper">
    <%= render :partial => 'search_form_ocr' %>
    <% if params[:ocr_q] && @response.empty? %>
        <%= render 'zero_results_ocr' %>
    <% else %>
        <% if params[:ocr_q] %>
            <div id="ocr_search_details" class="well well-sm">
              <span id="ocr_search_terms">
                Results for: <span id="ocr_search_term">"<%= params[:ocr_q] %>"</span>
              </span>
              <%= render :partial => 'catalog/paginate_compact', :object => @response if show_pagination? %>
            </div>
            <div id="ocr_search_results">
              <%= render collection: @document_list,
                         as: :document,
                         partial: 'index_ocr_list',
                         locals: {count: @document_list.count} %>
            </div>
        <% end %>
    <% end %>
  </div>
</div>

<div id="ocr_modal_footer" class="modal-footer">
  <div id="ocr_pagination" class="bottom">
    <%= render :partial => 'catalog/results_pagination' if params[:ocr_q] %>
  </div>
</div>
<%= javascript_include_tag 'commonwealth-vlr-engine/ocr_search_utils' %>