<div id="item_metadata" class="well">

  <h3>Item Information</h3>

  <div id="item_metadata_base">
    <dl class="defList dl-horizontal">
      <%# title field %>
      <% if document[blacklight_config.index.title_field.to_sym] %>
        <dt><%= t('blacklight.metadata_display.fields.title') %>:</dt>
        <dd>
          <%= render_title(document) %>
        </dd>
      <% end %>
      <%# translated title field %>
      <% if document[:title_info_translated_tsim] %>
        <dt><%= t('blacklight.metadata_display.fields.title_translated') %>:</dt>
        <dd>
          <% document[:title_info_translated_tsim].each do |translated_title| %>
            <%= translated_title %><br />
          <% end %>
        </dd>
      <% end %>
      <%# alternative title field %>
      <% if document[:title_info_alternative_tsim] %>
        <% if document[:title_info_alternative_label_ssm] %>
          <% document[:title_info_alternative_tsim].each_with_index do |_alt_title, index| %>
            <dt>
              <% if document[:title_info_alternative_label_ssm][index].present? %>
                <%= document[:title_info_alternative_label_ssm][index].gsub(/\s*:\s*\Z/, '') %>
              <% else %>
                <%= t('blacklight.metadata_display.fields.title_alt') %>
              <% end %>:
            </dt>
            <dd>
              <%= render_alt_title(document, index) %>
            </dd>
          <% end %>
        <% else %>
          <dt><%= t('blacklight.metadata_display.fields.title_alt') %>:</dt>
          <dd>
            <% document[:title_info_alternative_tsim].each_with_index do |_alt_title, index| %>
              <%= render_alt_title(document, index) %><br />
            <% end %>
          </dd>
        <% end %>
      <% end %>
      <%# uniform title field %>
      <% if document[:title_info_uniform_ssim] %>
        <dt><%= t('blacklight.metadata_display.fields.title_uniform') %>:</dt>
        <dd>
          <% document[:title_info_uniform_ssim].each do |uniform_title| %>
            <%= link_to_facet(uniform_title, 'title_info_uniform_ssim') %><br />
          <% end %>
        </dd>
      <% end %>
      <%# abstract/description field %>
      <% if document[:abstract_tsi].present? %>
        <dt><%= t('blacklight.metadata_display.fields.abstract') %>:</dt>
        <dd>
          <% document[:abstract_tsi].split('<br/><br/>').each do |sub_abstract| %>
            <%= sub_abstract %><br />
          <% end %>
        </dd>
      <% end %>
      <%# creator field - assumes equal # of roles and creator names %>
      <% if document[:name_tsim] %>
        <% names, roles = setup_names_roles(document) %>
        <% names.each_with_index do |name, index| %>
          <dt><%= roles[index] %>:</dt>
          <dd><%= link_to_facet(name, 'name_facet_ssim') %></dd>
        <% end %>
      <% end %>
      <%# note @type="statement of responsibility" field %>
      <% if document[:note_resp_tsim] %>
        <dt><%= t('blacklight.metadata_display.fields.note_resp') %>:</dt>
        <dd>
          <% document[:note_resp_tsim].each do |resp| %>
            <%= resp %><br />
          <% end %>
        </dd>
      <% end %>
      <%# date field  %>
      <% if document[:date_tsim] %>
        <dt><%= t('blacklight.metadata_display.fields.date') %>:</dt>
        <dd>
          <% document[:date_tsim].each_with_index do |date, index| %>
            <%= date %>
            <% if document[:date_tsim].length > 1 %>
              <%= " (#{date_qualifier(document[:date_type_ssm][index])})" %>
            <% end %>
            <br/>
          <% end %>
        </dd>
      <% end %>
      <%# genre field - basic %>
      <% if document[:genre_basic_ssim] %>
        <dt><%= t('blacklight.metadata_display.fields.genre_basic') %>:</dt>
        <dd>
          <% document[:genre_basic_ssim].each do |format| %>
            <%= link_to_facet(format, 'genre_basic_ssim') %><br />
          <% end %>
        </dd>
      <% end %>
      <%# genre field - specific %>
      <% if document[:genre_specific_ssim] %>
        <dt><%= t('blacklight.metadata_display.fields.genre_specific') %>:</dt>
        <dd>
          <% document[:genre_specific_ssim].each do |genre| %>
            <%= link_to_facet(genre, 'genre_specific_ssim') %><br />
          <% end %>
        </dd>
      <% end %>
      <%# physical location field (including sub_location and shelf_locator) %>
      <% if document[:physical_location_ssim] %>
        <dt><%= t('blacklight.metadata_display.fields.location') %>:</dt>
        <dd>
          <%= link_to_facet(document[:physical_location_ssim].first,
                            'physical_location_ssim') %>
          <% if document[:sub_location_tsi] %>
            <br/><%= document[:sub_location_tsi] %>
          <% end %>
          <% if document[:shelf_locator_tsi] %>
            <br/><%= document[:shelf_locator_tsi] %> (<%= t('blacklight.metadata_display.fields.shelf_locator').downcase %>)
          <% end %>
        </dd>
      <% end %>
      <%# related item host field (physical collection) %>
      <% if document[:related_item_host_ssim] %>
        <dt><%= t('blacklight.metadata_display.fields.collection') %>:</dt>
        <dd>
          <% document[:related_item_host_ssim].each do |related_host| %>
            <%= link_to_facet(related_host, 'related_item_host_ssim') %><br />
          <% end %>
        </dd>
      <% end %>
      <%# related item series field (series) %>
      <% if document[:related_item_series_ssi] %>
        <dt><%= t('blacklight.metadata_display.fields.series') %>:</dt>
        <dd>
          <%= link_to_facets([document[:related_item_series_ssi], document[:related_item_host_ssim].first],
                             %w[related_item_series_ssi related_item_host_ssim]) %>
          <% if document[:related_item_subseries_ssi] %>
            <%= content_tag(:span, t('blacklight.breadcrumb.separator'), class: 'metadata_breadcrumb') %>
            <%= link_to_facets([document[:related_item_subseries_ssi],
                                document[:related_item_series_ssi]],
                               %w[related_item_subseries_ssi related_item_series_ssi]) %>
          <% end %>
          <% if document[:related_item_subsubseries_ssi] %>
            <%= content_tag(:span, t('blacklight.breadcrumb.separator'), class: 'metadata_breadcrumb') %>
            <%= link_to_facets([document[:related_item_subsubseries_ssi],
                                document[:related_item_subseries_ssi],
                                document[:related_item_series_ssi]],
                               %w[related_item_subsubseries_ssi
                                    related_item_subseries_ssi
                                    related_item_series_ssi]) %>
          <% end %>
          <% if document[:related_item_subsubsubseries_ssi] %>
            <%= content_tag(:span, t('blacklight.breadcrumb.separator'), class: 'metadata_breadcrumb') %>
            <%= link_to_facets([document[:related_item_subsubsubseries_ssi],
                                document[:related_item_subsubseries_ssi],
                                document[:related_item_subseries_ssi],
                                document[:related_item_series_ssi]],
                               %w[related_item_subsubsubseries_ssi
                                    related_item_subsubseries_ssi
                                    related_item_subseries_ssi
                                    related_item_series_ssi]) %>
          <% end %>
        </dd>
      <% end %>
      <%# topic field %>
      <% if document[:subject_topic_tsim] || document[:subject_name_tsim] || document[:subject_title_tsim] || document[:subject_temporal_tsim] || document[:subject_date_tsim] %>
        <dt><%= t('blacklight.metadata_display.fields.subject_topic') %>:</dt>
        <dd>
          <% %i[subject_topic_tsim subject_name_tsim subject_title_tsim subject_temporal_tsim subject_date_tsim].each do |skey| %>
            <% if document[skey] %>
              <% document[skey].each do |s| %>
                <%= link_to_facet(s, 'subject_facet_ssim') %><br />
              <% end %>
            <% end %>
          <% end %>
        </dd>
      <% end %>
      <%# geo subject field %>
      <% if document[:subject_hiergeo_geojson_ssm] || document[:subject_geo_other_ssm] %>
        <dt><%= t('blacklight.metadata_display.fields.subject_geo') %>:</dt>
        <dd>
          <% if document[:subject_hiergeo_geojson_ssm] %>
            <% document[:subject_hiergeo_geojson_ssm].each do |hier_geojson| %>
              <%= render_hiergo_subject(hier_geojson,
                                        t('blacklight.breadcrumb.separator'),
                                        'metadata_breadcrumb') %><br />
            <% end %>
          <% end %>
          <% if document[:subject_geo_other_ssm] %>
            <% document[:subject_geo_other_ssm].each do |geo_other| %>
              <%= link_to_facet(geo_other, 'subject_geographic_sim') %><br />
            <% end %>
          <% end %>
        </dd>
      <% end %>
      <%# extent field %>
      <% if document[:extent_tsi] %>
        <dt><%= t('blacklight.metadata_display.fields.extent') %>:</dt>
        <dd>
          <%= document[:extent_tsi] %>
        </dd>
      <% end %>
      <%# URI field %>
      <% if document[:identifier_uri_ss] %>
        <% oai_object = true if document[blacklight_config.hosting_status_field.to_sym] == 'harvested' %>
        <dt><%= oai_object ? t('blacklight.metadata_display.fields.id_uri_oai') : t('blacklight.metadata_display.fields.id_uri_ark') %>:</dt>
        <dd>
          <%= link_to(document[:identifier_uri_ss],
                      document[:identifier_uri_ss],
                      :class => 'uri_metadata_link',
                      target: oai_object ? '_blank' : '_self'
              ) %>
        </dd>
      <% end %>
      <%# rights field %>
      <% if document[:rights_ss] || document[:license_ss] || document[:rightsstatement_ss]  %>
        <dt><%= t('blacklight.metadata_display.fields.rights') %>:</dt>
        <dd>
          <% if document[:rightsstatement_ss].present? %>
            <%= document[:rightsstatement_ss] %><br />
          <% end %>
          <% if document[:rights_ss] %>
            <%= document[:rights_ss] %><br />
          <% end %>
          <% if document[:license_ss] %>
            <%= document[:license_ss] %><br />
            <% if document[:license_ss].match(/\(CC\s/) %>
              <%= render_cc_license(document[:license_ss]) %><br />
            <% end %>
          <% end %>
        </dd>
      <% end %>
      <%# additional rights/use info field %>
      <% if document[:restrictions_on_access_ss].present? %>
        <dt><%= t('blacklight.metadata_display.fields.access') %>:</dt>
        <dd>
          <%= document[:restrictions_on_access_ss] %><br />
        </dd>
      <% end %>
    </dl>
  </div>

  <div id="item_metadata_expand" class="collapse">
    <dl class="defList dl-horizontal">
      <%# publisher field %>
      <% if document[:publisher_tsi] %>
        <dt><%= t('blacklight.metadata_display.fields.publisher') %>:</dt>
        <dd>
          <% if document[:pubplace_tsi] %>
            <%= "#{document[:pubplace_tsi]} : " %>
          <% end %>
          <%= document[:publisher_tsi] %><br />
        </dd>
      <% end %>
      <%# place of pub. field (if no publisher) %>
      <% if document[:pubplace_tsi] && document[:publisher_tsi].blank? %>
        <dt><%= t('blacklight.metadata_display.fields.pubplace') %>:</dt>
        <dd>
          <%= document[:pubplace_tsi] %><br />
        </dd>
      <% end %>
      <%# publication data fields %>
      <% %w(edition_name edition_number volume issue_number).each do |pd_field_base| %>
        <% if document["#{pd_field_base}_tsi".to_sym] %>
          <dt><%= t("blacklight.metadata_display.fields.#{pd_field_base}") %>:</dt>
          <dd>
            <%= document["#{pd_field_base}_tsi".to_sym] %>
          </dd>
        <% end %>
      <% end %>
      <%# geo scale field %>
      <% if document[:scale_tsim] %>
        <dt><%= t('blacklight.metadata_display.fields.scale') %>:</dt>
        <dd>
          <% document[:scale_tsim].each do |scale| %>
            <%= scale %><br />
          <% end %>
        </dd>
      <% end %>
      <%# geo projection field %>
      <% if document[:projection_tsi] %>
        <dt><%= t('blacklight.metadata_display.fields.projection') %>:</dt>
        <dd>
          <%= document[:projection_tsi] %>
        </dd>
      <% end %>
      <%# lang field %>
      <% if document[:lang_term_ssim] %>
        <dt><%= t('blacklight.metadata_display.fields.language') %>:</dt>
        <dd>
          <% document[:lang_term_ssim].each do |lang| %>
            <%= link_to_facet(lang, 'lang_term_ssim') %><br/>
          <% end %>
        </dd>
      <% end %>
      <%# TOC field %>
      <% if document[:table_of_contents_tsi] %>
        <dt><%= t('blacklight.metadata_display.fields.toc') %>:</dt>
        <dd>
          <% document[:table_of_contents_tsi].split('--').each do |toc_entry| %>
            <%= toc_entry.strip %><br />
          <% end %>
        </dd>
      <% end %>
      <%# TOC URL field %>
      <% if document[:table_of_contents_url_ss] %>
        <dt><%= t('blacklight.metadata_display.fields.toc_url') %>:</dt>
        <dd>
          <%= link_to(document[:table_of_contents_url_ss],
                      document[:table_of_contents_url_ss],
                      target: '_blank') %>
        </dd>
      <% end %>
      <%# related item isReferencedBy field %>
      <% if document[:related_item_isreferencedby_ssm] %>
        <dt><%= t('blacklight.metadata_display.fields.referenced_by') %>:</dt>
        <dd>
          <% document[:related_item_isreferencedby_ssm].each do |reference| %>
            <% ref_hash = JSON.parse(reference) %>
            <%= link_to(ref_hash['label'] || ref_hash['url'],
                        ref_hash['url'], target: '_blank') %><br />
          <% end %>
        </dd>
      <% end %>
      <%# relatedItem @type='constituent' field %>
      <% if document[:related_item_constituent_tsim] %>
        <dt><%= t('blacklight.metadata_display.fields.constituent') %>:</dt>
        <dd>
          <% document[:related_item_constituent_tsim].each do |constituent| %>
            <% constituent.split('--').each do |constituent_entry| %>
              <%= constituent_entry.strip %><br />
            <% end %>
          <% end %>
        </dd>
      <% end %>
      <%# relatedItem @type='otherFormat' field %>
      <% if document[:related_item_other_format_tsim] %>
        <dt><%= t('blacklight.metadata_display.fields.other_format') %>:</dt>
        <dd>
          <% document[:related_item_other_format_tsim].each do |other| %>
            <%= other %><br />
          <% end %>
        </dd>
      <% end %>
      <%# relatedItem @type='references' and @type='reviewOf' fields %>
      <% %w[references review].each do |ri_base| %>
        <% if document["related_item_#{ri_base}_ssm".to_sym] %>
          <dt><%= t("blacklight.metadata_display.fields.#{ri_base}") %>:</dt>
          <dd>
            <% document["related_item_#{ri_base}_ssm".to_sym].each do |ri_value| %>
              <%= link_to(ri_value, ri_value, target: '_blank') %><br />
            <% end %>
          </dd>
        <% end %>
      <% end %>
      <%# generic note field %>
      <% if document[:note_tsim] %>
        <dt><%= t('blacklight.metadata_display.fields.note') %>:</dt>
        <dd>
          <% document[:note_tsim].each do |note| %>
            <%= note %><br/>
          <% end %>
        </dd>
      <% end %>
      <%# specific note fields %>
      <% %w(citation performers venue ownership acquisition date reference physical bibliography
              exhibitions arrangement language funding biographical publications credits).each do |nt| %>
        <% if document["note_#{nt}_tsim".to_sym] %>
          <dt><%= t("blacklight.metadata_display.fields.note_#{nt}") %>:</dt>
          <dd>
            <% document["note_#{nt}_tsim".to_sym].each do |n| %>
              <%= n %><br />
            <% end %>
          </dd>
        <% end %>
      <% end %>
      <%# local-accession, local-other, local-call local-barcode id fields %>
      <% %w[accession other call barcode].each do |id_base| %>
        <% fn = "identifier_local_#{id_base}_tsim".to_sym %>
        <% fn_invalid = "identifier_local_#{id_base}_invalid_tsim".to_sym %>
        <% if document[fn] || document[fn_invalid] %>
          <dt><%= t("blacklight.metadata_display.fields.id_local_#{id_base}") %>:</dt>
          <dd>
            <% if document[fn] %>
              <% document[fn].each do |id_value| %>
                <%= id_value %><br />
              <% end %>
            <% end %>
            <% if document[fn_invalid] %>
              <% document[fn_invalid].each do |id_value_invalid| %>
                <%= id_value_invalid + ' ' + t('blacklight.metadata_display.fields.id_local_other_invalid') %><br />
              <% end %>
            <% end %>
          </dd>
        <% end %>
      <% end %>
      <%# other identifier fields %>
      <% %w[isbn lccn issn ismn isrc issue_number matrix_number music_plate music_publisher
              sici videorecording].each do |id_base| %>
        <% if document["identifier_#{id_base}_ssim".to_sym] %>
          <dt><%= t("blacklight.metadata_display.fields.id_#{id_base}") %>:</dt>
          <dd>
            <% document["identifier_#{id_base}_ssim".to_sym].each do |id_value| %>
              <%= id_value %><br />
            <% end %>
          </dd>
        <% end %>
      <% end %>
    </dl>
  </div>

  <% if expand_metadata_link?(document) %>
    <div id="metadata_collapse_link_wrap" class="js-controls">
      <dl class="defList dl-horizontal">
        <dt>
          <%= link_to(t('blacklight.metadata_display.expand'),
                      '#item_metadata_expand',
                      data: {toggle: 'collapse'},
                      'aria-expanded' => 'false',
                      'aria-controls' => '#item_metadata_expand',
                      title: 'click to expand',
                      id: 'metadata_expand_heading',
                      class: 'metadata_display_expand') %>
        </dt>
        <dd>
          <%= link_to('#item_metadata_expand',
                      data: {toggle: 'collapse'},
                      'aria-expanded' => 'false',
                      'aria-controls' => '#item_metadata_expand',
                      title: 'click to expand',
                      id: 'metadata_expand_link',
                      class: 'metadata_display_expand') do %>
              <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
        </dd>
      </dl>
    </div>

    <script type="text/javascript">
      $('.metadata_display_expand').on('click', function() {
        toggleText($('#metadata_expand_heading'),
            '<%= I18n.t('blacklight.metadata_display.expand') %>',
            '<%= I18n.t('blacklight.metadata_display.collapse') %>');
        $('#metadata_expand_link').find('span').toggleClass('glyphicon-chevron-up');
      });
    </script>
  <% end %>

  <div class="mods_link_wrapper">
    <%# link_to t('blacklight.tools.librarian_view.link'),
                metadata_view_catalog_path(@document),
                {id: 'librarianLink', rel: 'nofollow', data: {ajax_modal: 'trigger'}} %>
  </div>

</div>
