<div id="item_metadata" class="well">

  <h3>Item Information</h3>

  <div id="item_metadata_base">
    <dl class="defList dl-horizontal">
      <%# title field %>
      <% if document[blacklight_config.index.title_field.to_sym] %>
          <dt><%= t('blacklight.metadata_display.fields.title') %>:</dt>
          <dd>
            <%= render_title(document) %>
          </dd>
      <% end %>
      <%# translated title field %>
      <% if document[:title_info_translated_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.title_translated') %>:</dt>
          <dd>
            <% document[:title_info_translated_tsim].each do |translated_title| %>
                <%= translated_title %><br />
            <% end %>
          </dd>
      <% end %>
      <%# alternative title field %>
      <% if document[:title_info_alternative_tsim] %>
          <dt>
            <% if document[:title_info_alternative_label_ssm] %>
                <%= document[:title_info_alternative_label_ssm].first %>
            <% else %>
                <%= t('blacklight.metadata_display.fields.title_alt') %>
            <% end %>:
          </dt>
          <dd>
            <% document[:title_info_alternative_tsim].each do |alt_title| %>
                <%= alt_title %><br />
            <% end %>
          </dd>
      <% end %>
      <%# uniform title field %>
      <% if document[:title_info_uniform_ssim] %>
          <dt><%= t('blacklight.metadata_display.fields.title_uniform') %>:</dt>
          <dd>
            <% document[:title_info_uniform_ssim].each do |uniform_title| %>
                <%= link_to_facet(uniform_title, 'title_info_uniform_ssim') %><br />
            <% end %>
          </dd>
      <% end %>
      <%# abstract/description field %>
      <% if document[:abstract_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.abstract') %>:</dt>
          <dd>
            <% document[:abstract_tsim].each do |abstract| %>
                <%= abstract %><br />
            <% end %>
          </dd>
      <% end %>
      <%# creator field - assumes equal # of roles and creator names %>
      <% if document[:name_personal_tsim] || document[:name_corporate_tsim] || document[:name_generic_tsim] %>
          <% names, roles = setup_names_roles(document) %>
          <% names.each_with_index do |name, index| %>
              <dt><%= roles[index] %>:</dt>
              <dd><%= link_to_facet(name, 'name_facet_ssim') %></dd>
          <% end %>
      <% end %>
      <%# note @type="statement of responsibility" field %>
      <% if document[:note_resp_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.note_resp') %>:</dt>
          <dd>
            <% document[:note_resp_tsim].each do |resp| %>
                <%= resp %><br />
            <% end %>
          </dd>
      <% end %>
      <%# date field  %>
      <% if document[:date_start_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.date') %>:</dt>
          <dd>
            <% render_mods_dates(document).each do |date| %>
                <%= date %><br/>
            <% end %>
          </dd>
      <% end %>
      <%# genre field - basic %>
      <% if document[:genre_basic_ssim] %>
          <dt><%= t('blacklight.metadata_display.fields.genre_basic') %>:</dt>
          <dd>
            <% document[:genre_basic_ssim].each do |format| %>
                <%= link_to_facet(format, 'genre_basic_ssim') %><br />
            <% end %>
          </dd>
      <% end %>
      <%# genre field - specific %>
      <% if document[:genre_specific_ssim] %>
          <dt><%= t('blacklight.metadata_display.fields.genre_specific') %>:</dt>
          <dd>
            <% document[:genre_specific_ssim].each do |genre| %>
                <%= link_to_facet(genre, 'genre_specific_ssim') %><br />
            <% end %>
          </dd>
      <% end %>
      <%# physical location field (including sub_location and shelf_locator) %>
      <% if document[:physical_location_ssim] %>
          <dt><%= t('blacklight.metadata_display.fields.location') %>:</dt>
          <dd>
            <%= link_to_facet(document[:physical_location_ssim].first,
                              'physical_location_ssim') %>
            <% if document[:sub_location_tsim] %>
                <br/><%= document[:sub_location_tsim].first %>
            <% end %>
            <% if document[:shelf_locator_tsim] %>
                <br/><%= document[:shelf_locator_tsim].first %> (<%= t('blacklight.metadata_display.fields.shelf_locator').downcase %>)
            <% end %>
          </dd>
      <% end %>
      <%# related item host field (physical collection) %>
      <% if document[:related_item_host_ssim] %>
          <dt><%= t('blacklight.metadata_display.fields.collection') %>:</dt>
          <dd>
            <% document[:related_item_host_ssim].each do |related_host| %>
                <%= link_to_facet(related_host, 'related_item_host_ssim') %><br />
            <% end %>
          </dd>
      <% end %>
      <%# related item series field (series) %>
      <% if document[:related_item_series_ssim] %>
          <dt><%= t('blacklight.metadata_display.fields.series') %>:</dt>
          <dd>
            <% document[:related_item_series_ssim].each_with_index do |related_series,index| %>
                <%= link_to_facets([related_series, document[:related_item_host_ssim].first],
                                   %w[related_item_series_ssim related_item_host_ssim]) %>
                <% if document[:related_item_subseries_ssim] && document[:related_item_subseries_ssim][index] %>
                    <%= content_tag(:span, t('blacklight.breadcrumb.separator'), :class => 'metadata_breadcrumb') %>
                    <%= link_to_facets(
                            [document[:related_item_subseries_ssim][index],
                             related_series],
                            %w[related_item_subseries_ssim related_item_series_ssim]) %>
                <% end %>
                <% if document[:related_item_subsubseries_ssim] && document[:related_item_subsubseries_ssim][index] %>
                    <%= content_tag(:span, t('blacklight.breadcrumb.separator'), :class => 'metadata_breadcrumb') %>
                    <%= link_to_facets(
                            [document[:related_item_subsubseries_ssim][index],
                             document[:related_item_subseries_ssim][index],
                             related_series],
                            %w[related_item_subsubseries_ssim
                                 related_item_subseries_ssim
                                 related_item_series_ssim]) %>
                <% end %>
                <br />
            <% end %>
          </dd>
      <% end %>
      <%# topic field %>
      <% if document[:subject_topic_tsim] || document[:subject_name_corporate_tsim] || document[:subject_name_personal_tsim] || document[:subject_name_conference_tsim] || document[:subject_temporal_facet_ssim] || document[:subject_title_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.subject_topic') %>:</dt>
          <dd>
            <% if document[:subject_topic_tsim] %>
                <% document[:subject_topic_tsim].each do |topic| %>
                    <%= link_to_facet(topic, 'subject_facet_ssim') %><br />
                <% end %>
            <% end %>
            <% if document[:subject_name_corporate_tsim] %>
                <% document[:subject_name_corporate_tsim].each do |corp_name| %>
                    <%= link_to_facet(corp_name, 'subject_facet_ssim') %><br />
                <% end %>
            <% end %>
            <% if document[:subject_name_personal_tsim] %>
                <% document[:subject_name_personal_tsim].each do |pers_name| %>
                    <%= link_to_facet(pers_name, 'subject_facet_ssim') %><br />
                <% end %>
            <% end %>
            <% if document[:subject_name_conference_tsim] %>
                <% document[:subject_name_conference_tsim].each do |conf_name| %>
                    <%= link_to_facet(conf_name, 'subject_facet_ssim') %><br />
                <% end %>
            <% end %>
            <% if document[:subject_title_tsim] %>
                <% document[:subject_title_tsim].each do |subj_title| %>
                    <%= link_to_facet(subj_title, 'subject_facet_ssim') %><br />
                <% end %>
            <% end %>
            <% if document[:subject_temporal_facet_ssim] %>
                <% document[:subject_temporal_facet_ssim].each do |temporal_subj| %>
                    <% if temporal_subj =~ /-[0-9]{2}$/ %>
                        <%= link_to_facet(temporal_subj,
                                          'subject_facet_ssim',
                                          render_mods_date(temporal_subj)) %>
                    <% else %>
                        <%= link_to_facet(temporal_subj, 'subject_facet_ssim') %><br />
                    <% end %>
                <% end %>
            <% end %>
          </dd>
      <% end %>
      <%# geo subject field %>
      <% if document[:subject_hiergeo_geojson_ssm] || document[:subject_geo_nonhier_ssim] %>
          <dt><%= t('blacklight.metadata_display.fields.subject_geo') %>:</dt>
          <dd>
            <% if document[:subject_hiergeo_geojson_ssm] %>
                <% document[:subject_hiergeo_geojson_ssm].each do |hier_geojson| %>
                    <%= render_hiergo_subject(hier_geojson,
                                              t('blacklight.breadcrumb.separator'),
                                              'metadata_breadcrumb') %><br />
                <% end %>
            <% end %>
            <% if document[:subject_geo_nonhier_ssim] %>
                <% document[:subject_geo_nonhier_ssim].each do |nonhier_geo| %>
                    <%= link_to_facet(nonhier_geo, 'subject_geographic_ssim') %><br />
                <% end %>
            <% end %>
          </dd>
      <% end %>
      <%# extent field %>
      <% if document[:extent_tsi] %>
          <dt><%= t('blacklight.metadata_display.fields.extent') %>:</dt>
          <dd>
            <%= document[:extent_tsi] %>
          </dd>
      <% end %>
      <%# URI field %>
      <% if document[:identifier_uri_ss] %>
          <% oai_object = true if document[:active_fedora_model_suffix_ssi] == 'OAIObject' %>
          <dt><%= oai_object ? t('blacklight.metadata_display.fields.id_uri_oai') : t('blacklight.metadata_display.fields.id_uri_ark') %>:</dt>
          <dd>
            <%= link_to(document[:identifier_uri_ss],
                        document[:identifier_uri_ss],
                        :class => 'uri_metadata_link',
                        :target => oai_object ? '_blank' : '_self'
                ) %>
          </dd>
      <% end %>
      <%# rights field %>
      <% if document[:rights_ssm] || document[:license_ssm]  %>
          <dt><%= t('blacklight.metadata_display.fields.rights') %>:</dt>
          <dd>
            <% if document[:rights_ssm] %>
                <% document[:rights_ssm].each do |rights| %>
                    <%= rights %><br />
                <% end %>
            <% end %>
            <% if document[:license_ssm] %>
                <% document[:license_ssm].each do |license| %>
                    <%= license %><br />
                    <% if license.match(/\(CC\s/) %>
                        <%= render_cc_license(license) %><br />
                    <% end %>
                <% end %>
            <% end %>
          </dd>
      <% end %>
      <%# additional rights/use info field %>
      <% if document[:restrictions_on_access_ssm] %>
          <dt><%= t('blacklight.metadata_display.fields.access') %>:</dt>
          <dd>
            <% document[:restrictions_on_access_ssm].each do |restrictions| %>
                <%= restrictions %><br />
            <% end %>
          </dd>
      <% end %>
    </dl>
  </div>

  <div id="item_metadata_expand" class="collapse">
    <dl class="defList dl-horizontal">
      <%# publisher field %>
      <% if document[:publisher_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.publisher') %>:</dt>
          <dd>
            <% 0.upto document[:publisher_tsim].length-1 do |index| %>
                <% if document[:pubplace_tsim] %>
                    <%= document[:pubplace_tsim][index] + ' : ' if document[:pubplace_tsim][index] %>
                <% end %>
                <%= document[:publisher_tsim][index] %><br />
            <% end %>
          </dd>
      <% end %>
      <%# place of pub. field (if no publisher) %>
      <% if document[:pubplace_tsim] && !document[:publisher_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.pubplace') %>:</dt>
          <dd>
            <% document[:pubplace_tsim].each do |pubplace| %>
                <%= pubplace %><br />
            <% end %>
          </dd>
      <% end %>
      <%# edition field %>
      <% if document[:edition_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.edition') %>:</dt>
          <dd>
            <% document[:edition_tsim].each do |edition| %>
                <%= edition %><br />
            <% end %>
          </dd>
      <% end %>
      <%# note @type="performers" field %>
      <% if document[:note_performers_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.note_performers') %>:</dt>
          <dd>
            <% document[:note_performers_tsim].each do |performers| %>
                <%= performers %><br />
            <% end %>
          </dd>
      <% end %>
      <%# note @type="venue" field %>
      <% if document[:note_venue_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.note_venue') %>:</dt>
          <dd>
            <% document[:note_venue_tsim].each do |venue| %>
                <%= venue %><br />
            <% end %>
          </dd>
      <% end %>
      <%# note @type="ownership" field %>
      <% if document[:note_ownership_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.note_ownership') %>:</dt>
          <dd>
            <% document[:note_ownership_tsim].each do |ownership_note| %>
                <%= ownership_note %><br />
            <% end %>
          </dd>
      <% end %>
      <%# note @type="acquisition" field %>
      <% if document[:note_acquisition_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.note_acquisition') %>:</dt>
          <dd>
            <% document[:note_acquisition_tsim].each do |acquisition_note| %>
                <%= acquisition_note %><br />
            <% end %>
          </dd>
      <% end %>
      <%# note @type="preferred citation" field %>
      <% if document[:note_citation_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.note_citation') %>:</dt>
          <dd>
            <% document[:note_citation_tsim].each do |citation_note| %>
                <%= citation_note %><br />
            <% end %>
          </dd>
      <% end %>
      <%# note @type="date" field %>
      <% if document[:note_date_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.note_date') %>:</dt>
          <dd>
            <% document[:note_date_tsim].each do |date_note| %>
                <%= date_note %><br />
            <% end %>
          </dd>
      <% end %>
      <%# note @type="citation/refernce" field %>
      <% if document[:note_reference_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.note_reference') %>:</dt>
          <dd>
            <% document[:note_reference_tsim].each do |reference_note| %>
                <%= reference_note %><br />
            <% end %>
          </dd>
      <% end %>
      <%# note field %>
      <% if document[:note_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.note') %>:</dt>
          <dd>
            <% document[:note_tsim].each do |note| %>
                <%= note %><br/>
            <% end %>
          </dd>
      <% end %>
      <%# physical description note field %>
      <% if document[:note_physical_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.note_physical') %>:</dt>
          <dd>
            <% document[:note_physical_tsim].each do |physical_note| %>
                <%= physical_note %><br />
            <% end %>
          </dd>
      <% end %>
      <%# geo scale field %>
      <% if document[:subject_scale_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.scale') %>:</dt>
          <dd>
            <% document[:subject_scale_tsim].each do |scale| %>
                <%= scale %><br />
            <% end %>
      <% end %>
      <%# geo projection field %>
      <% if document[:subject_projection_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.projection') %>:</dt>
          <dd>
            <% document[:subject_projection_tsim].each do |projection| %>
                <%= projection %><br />
            <% end %>
      <% end %>
      <%# lang field %>
      <% if document[:lang_term_ssim] %>
          <dt><%= t('blacklight.metadata_display.fields.language') %>:</dt>
          <dd>
            <% document[:lang_term_ssim].each do |lang| %>
                <%= lang %><br/>
            <% end %>
          </dd>
      <% end %>
      <%# TOC field %>
      <% if document[:table_of_contents_tsi] %>
          <dt><%= t('blacklight.metadata_display.fields.toc') %>:</dt>
          <dd>
            <% document[:table_of_contents_tsi].split('--').each do |toc_entry| %>
                <%= toc_entry.strip %><br />
            <% end %>
          </dd>
      <% end %>
      <%# relatedItem @type='constituent' field %>
      <% if document[:related_item_constituent_ssim] %>
          <dt><%= t('blacklight.metadata_display.fields.constituent') %>:</dt>
          <dd>
            <% document[:related_item_constituent_ssim].each do |constituent| %>
                <% constituent.split('--').each do |constituent_entry| %>
                    <%= constituent_entry.strip %><br />
                <% end %>
            <% end %>
          </dd>
      <% end %>
      <%# local-accession id field %>
      <% if document[:identifier_local_accession_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.id_local_acc') %>:</dt>
          <dd>
            <% document[:identifier_local_accession_tsim].each do |accession| %>
                <%= accession %><br />
            <% end %>
          </dd>
      <% end %>
      <%# local-other id field %>
      <% if document[:identifier_local_other_tsim] || document[:identifier_local_other_invalid_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.id_local_other') %>:</dt>
          <dd>
            <% if document[:identifier_local_other_tsim] %>
                <% document[:identifier_local_other_tsim].each do |local_other| %>
                    <%= local_other %><br />
                <% end %>
            <% end %>
            <% if document[:identifier_local_other_invalid_tsim] %>
                <% document[:identifier_local_other_invalid_tsim].each do |local_other_invalid| %>
                    <%= local_other_invalid + ' ' + t('blacklight.metadata_display.fields.id_local_other_invalid') %><br />
                <% end %>
            <% end %>
          </dd>
      <% end %>
      <%# local-call id field %>
      <% if document[:identifier_local_call_tsim] || document[:identifier_local_call_invalid_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.id_local_call') %>:</dt>
          <dd>
            <% if document[:identifier_local_call_tsim] %>
                <% document[:identifier_local_call_tsim].each do |local_call| %>
                    <%= local_call %><br />
                <% end %>
            <% end %>
            <% if document[:identifier_local_call_invalid_tsim] %>
                <% document[:identifier_local_call_invalid_tsim].each do |local_call_invalid| %>
                    <%= local_call_invalid + ' ' + t('blacklight.metadata_display.fields.id_local_other_invalid') %><br />
                <% end %>
            <% end %>
          </dd>
      <% end %>
      <%# local-barcode id field %>
      <% if document[:identifier_local_barcode_tsim] || document[:identifier_local_barcode_invalid_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.id_local_barcode') %>:</dt>
          <dd>
            <% if document[:identifier_local_barcode_tsim] %>
                <% document[:identifier_local_barcode_tsim].each do |barcode| %>
                    <%= barcode %><br />
                <% end %>
            <% end %>
            <% if document[:identifier_local_barcode_invalid_tsim] %>
                <% document[:identifier_local_barcode_invalid_tsim].each do |barcode_invalid| %>
                    <%= barcode_invalid + ' ' + t('blacklight.metadata_display.fields.id_local_other_invalid') %><br />
                <% end %>
            <% end %>
          </dd>
      <% end %>
      <%# isbn id field %>
      <% if document[:identifier_isbn_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.id_isbn') %>:</dt>
          <dd>
            <% document[:identifier_isbn_tsim].each do |isbn| %>
                <%= isbn %><br />
            <% end %>
          </dd>
      <% end %>
      <%# lccn id field %>
      <% if document[:identifier_lccn_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.id_lccn') %>:</dt>
          <dd>
            <% document[:identifier_lccn_tsim].each do |lccn| %>
                <%= lccn %><br />
            <% end %>
          </dd>
      <% end %>
      <% if document[:classification_tsim] %>
          <dt><%= t('blacklight.metadata_display.fields.classification') %>:</dt>
          <dd>
            <% document[:classification_tsim].each do |classification| %>
                <%= classification %><br />
            <% end %>
          </dd>
      <% end %>
      <%# related item isReferencedBy field %>
      <% if document[:related_item_isreferencedby_ssm] %>
          <dt><%= t('blacklight.metadata_display.fields.referenced_by') %>:</dt>
          <dd>
            <% document[:related_item_isreferencedby_ssm].each do |reference| %>
                <%= link_to(reference, reference, :target => '_blank') %><br />
            <% end %>
          </dd>
      <% end %>
    </dl>
  </div>

  <% if expand_metadata_link?(document) %>
    <div id="metadata_collapse_link_wrap" class="js-controls">
      <dl class="defList dl-horizontal">
        <dt>
          <%= link_to(t('blacklight.metadata_display.expand'),
                      '#item_metadata_expand',
                      data: {toggle: 'collapse'},
                      'aria-expanded' => 'false',
                      'aria-controls' => '#item_metadata_expand',
                      title: 'click to expand',
                      id: 'metadata_expand_heading',
                      class: 'metadata_display_expand') %>
        </dt>
        <dd>
          <%= link_to('#item_metadata_expand',
                      data: {toggle: 'collapse'},
                      'aria-expanded' => 'false',
                      'aria-controls' => '#item_metadata_expand',
                      title: 'click to expand',
                      id: 'metadata_expand_link',
                      class: 'metadata_display_expand') do %>
              <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
        </dd>
      </dl>
    </div>

    <script type="text/javascript">
      $('.metadata_display_expand').on('click', function() {
        toggleText($('#metadata_expand_heading'),
            '<%= I18n.t('blacklight.metadata_display.expand') %>',
            '<%= I18n.t('blacklight.metadata_display.collapse') %>');
        $('#metadata_expand_link').find('span').toggleClass('glyphicon-chevron-up');
      });
    </script>
  <% end %>

  <div class="mods_link_wrapper">
    <%= link_to t('blacklight.tools.librarian_view.link'),
                metadata_view_catalog_path(@document),
                {id: 'librarianLink', rel: 'nofollow', data: {ajax_modal: 'trigger'}} %>
  </div>

</div>
