<div class="panel panel-default" id="volumes_wrapper">
  <div class="panel-heading">
    <i class="fa fa-book"></i> <%= t('blacklight.book_viewer.link_to_reader') %>
  </div>

  <div class="panel-body">
    <ul class="nav nav-list">
      <% volumes.each_with_index do |volume, index| %>
          <% volume_title = render_volume_title(volume[:vol_doc]) %>
          <li class="volume_listing" id="volume_listing_<%= index %>">
            <a class="collapsed volume_title" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_<%= index %>" href="<%= solr_document_path(volume[:vol_doc].id) %>" aria-expanded="false" aria-controls="collapse_<%= index %>">
              <%= volume_title %>
            </a>
            <div id="collapse_<%= index %>" class="volume_details panel-collapse collapse" role="tabpanel" aria-labelledby="heading_<%= index %>">
              <div class="read_volume_link_wrap">
                <%= link_to(book_viewer_path(volume[:vol_doc].id),
                            :class => 'book_viewer_link btn',
                            :rel => 'nofollow') do %>
                    <i class="fa fa-book"></i> Read <%= volume_title %>
                <% end %>
              </div>
              <div class="download_volume_links">
                <i class="fa fa-download"></i> Downloads
                <ul class="volume_downloads">
                  <% create_download_links(volume[:vol_doc], volume[:vol_files], 'volume_downloads_link').each do |link| %>
                      <li class="download_list_item"><%= link %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>

</div>
<%= javascript_include_tag('commonwealth-vlr-engine/volumes_list') %>