<div class="panel panel-default" id="volumes_wrapper">
  <div class="panel-heading">
    <i class="fa fa-book"></i> <%= t('blacklight.book_viewer.link_to_reader') %>
  </div>

  <div class="panel-body">
    <ul class="nav nav-list">
      <% volumes.each_with_index do |volume, index| %>
          <% volume_title = render_volume_title(volume[:vol_doc]) %>
          <li class="volume_listing" id="volume_listing_<%= index %>">
            <a class="collapsed volume_title" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_<%= index %>" href="<%= solr_document_path(volume[:vol_doc].id) %>" aria-expanded="false" aria-controls="collapse_<%= index %>">
              <%= volume_title %>
            </a>
            <div id="collapse_<%= index %>" class="volume_details panel-collapse collapse" role="tabpanel" aria-labelledby="heading_<%= index %>">
              <div class="read_volume_link_wrap">
                <ul class="vol_read_search_links list-inline">
                  <li class="vol_book_viewer_link_wrap">
                    <%= link_to(book_viewer_path(volume[:vol_doc].id),
                                :class => 'book_viewer_link btn',
                                :rel => 'nofollow') do %>
                        <i class="fa fa-book"></i> Read <%= volume_title %>
                    <% end %>
                  </li>
                  <% if document['identifier_ia_id_ssi'] %>
                      <li class="vol_search_inside_link_wrap">
                        <%= link_to(ocr_search_path(:id => volume[:vol_doc].id,
                                                    :ocr_q => ocr_q_params(current_search_session)),
                                    :class => 'search_inside_link btn',
                                    :rel => 'nofollow',
                                    :data => {:ajax_modal => 'trigger'}) do %>
                            <i class="fa fa-search"></i> Search <%= volume_title %>
                        <% end %>
                      </li>
                  <% end %>
                </ul>
              </div>
              <div class="download_volume_links">
                <i class="fa fa-download"></i> Downloads
                <ul class="volume_downloads">
                  <% create_download_links(volume[:vol_doc], volume[:vol_files]).each do |link| %>
                      <li class="download_list_item"><%= link %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>

</div>
<%= javascript_include_tag('commonwealth-vlr-engine/volumes_list') %>