<div class="panel panel-default" id="volumes_wrapper">
  <div class="panel-heading">
    <%= render_volume_list_heading(document) %>
  </div>

  <div class="panel-body">
    <!--
    <ul class="nav nav-list">
      <%# volumes.each do |volume| %>
          <li class="volume_list_item">
            <%# link_to_document volume, render_volume_title(volume) %>
          </li>
      <%# end %>
    </ul> -->
    <%# volumes.first[:vol_files].inspect %>
    <% volumes.each_with_index do |volume, index| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading_<%= index %>">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= index %>" aria-expanded="false" aria-controls="collapse_<%= index %>">
                <%= render_volume_title(volume[:vol_doc]) %>
              </a>
            </h4>
          </div>
          <div id="collapse_<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_<%= index %>">
            <div class="panel-body">
              <div class="read_volume_link">
                <i class="fa fa-book"></i>
                <%= link_to(t('blacklight.book_viewer.link_to_reader'),
                            book_viewer_path(volume[:vol_doc].id),
                            :class => 'book_viewer_link btn',
                            :rel => 'nofollow') %>
              </div>
              <div class="download_volume_links">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-download"></i> Downloads</button>
                  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <% create_download_links(volume[:vol_doc], volume[:vol_files], 'volume_downloads_link').each do |link| %>
                        <li class="download_list_item"><%= link %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>

</div>