<% @page_title = t('blacklight.users.account_heading') + " - " + application_name %>
<div class="col-sm-9">
  <h2>
    <%= t('blacklight.users.account_heading') %>
  </h2>

  <ul id="user_account_links_list">
    <li>
      <h4><%= link_to t('blacklight.header_links.folders'), folders_path %></h4>
      <%= t('blacklight.folders.intro') %>
    </li>
    <li>
      <h4><%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %></h4>
      <%= t('blacklight.saved_searches.intro') %>
    </li>
    <li>
      <h4><%= link_to t('blacklight.header_links.search_history'), blacklight.search_history_path %></h4>
      <%= t('blacklight.search_history.intro') %>
    </li>
    <li>
      <h4><%= link_to t('devise.registrations.edit'), edit_user_registration_path %></h4>
      Change your email or password, or cancel your account.
    </li>
  </ul>

</div>
<div class="col-sm-3">
  <div class="well sidebar-right">
    <ul class="list-unstyled">
      <li><%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, :class => 'btn btn-default' %></li>
    </ul>
  </div>
</div>