<div id="footer" class="<%= container_classes %>">
  <div class="row">
    <div id="footer_logo" class="col-sm-3">
      <%= link_to application_name, root_path, id: 'footer_logo_link' %>
    </div>
    <div id="footer_address" class="col-sm-9">
      <strong><%= t('blacklight.application_name') %></strong><br />
      <%= t('blacklight.footer.address') %><br />
      <%= link_to t('blacklight.pages.contact.title'), feedback_path %>
    </div>
  </div>
</div>

<%= debug(params) if Rails.env.development? %>
<%= @search_state.inspect %>