<% nav_links = {
        :search => {
                :basic => {:nav_link_title => t('blacklight.search.nav.basic'),
                           :nav_link_path => search_catalog_path},
                :advanced => {:nav_link_title => t('blacklight.search.nav.advanced'),
                              :nav_link_path => blacklight_advanced_search_engine.advanced_search_path}
        },
        :explore => {},
        :about => {
                :overview => {:nav_link_title => t('blacklight.home.context.about.title'),
                         :nav_link_path => about_site_path},
                :news=> {:nav_link_title => t('blacklight.home.context.news.title'),
                         :nav_link_path => t('blacklight.home.context.news.blog_url')},
                :contact => {:nav_link_title => t('blacklight.pages.contact.title'),
                             :nav_link_path => feedback_path}
        }
} %>

<%
   # add the explore options
   if t('blacklight.home.browse.maps.enabled')
     nav_links[:explore][:map] = {:nav_link_title => t('blacklight.maps.title'),
                                  :nav_link_path => map_path}
   end

   if t('blacklight.home.browse.collections.enabled')
     nav_links[:explore][:collections] = {:nav_link_title => t('blacklight.collections.nav'),
                                          :nav_link_path => collections_path}
   end

   if t('blacklight.home.browse.institutions.enabled')
     nav_links[:explore][:institutions] = {:nav_link_title => t('blacklight.institutions.nav'),
                                           :nav_link_path => institutions_path}
   end

   if t('blacklight.home.browse.formats.enabled')
     nav_links[:explore][:formats] = {:nav_link_title => t('blacklight.navigation.format'),
                                      :nav_link_path => formats_facet_path}
   end
%>

<% nav_links.each_with_index do |(k, v), index| %>
    <li class="dropdown<%= ' last_nav' if index == nav_links.length-1 %>">
      <a id="<%= k.to_s + '_dropdown' %>" class="dropdown-toggle<%= @nav_li_active == k.to_s ? ' active' : '' %>" href="/<%= k.to_s %>" role="button" data-toggle="dropdown">
        <%= k.to_s.titleize %><!-- <span class="caret"></span> -->
      </a>
      <ul class="dropdown-menu<%= ' pull-right' if index == nav_links.length-1 %>" role="menu" aria-labelledby="<%= k.to_s + '_dropdown' %>">
        <% v.each do |k,v| %>
            <%= content_tag(:li,
                    link_to(v[:nav_link_title],
                            v[:nav_link_path]),
                            :tabindex => '-1') %>
        <% end %>
      </ul>
    </li>

<% end %>

