<%= form_tag search_action_url, :method => :get, :class => 'header-search-form form-inline' do %>
    <%= render_hash_as_hidden_fields(search_state.params_for_search(:search_field => default_search_field[:key]).except('q', 'qt', 'page', 'utf8', 'f', 'sort', 'mlt_id', 'coordinates', 'spatial_search_type', 'view', 'range', 'date_start', 'date_end')) %>

    <div class="input-group pull-left">
      <label for="q" class="sr-only"><%= t('blacklight.search.form.search.label') %></label>
      <%= text_field_tag :q,
                         nil,
                         placeholder: t('blacklight.search.form.search.placeholder'),
                         class: 'search_q q form-control input-sm',
                         id: 'q',
                         data: { autocomplete_enabled: autocomplete_enabled?,
                                 autocomplete_path: search_action_path(action: :suggest) } %>
      <span class="input-group-btn">
              <button type="submit" class="btn btn-primary search-btn btn-xs" id="search">
                <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span>
                <span class="glyphicon glyphicon-search glyphicon-white"></span>
              </button>
      </span>

    </div>

<% end %>