<div id="img_show_container" class="row">
  <div id="img_show_canvas">
    <%= link_to '#',
                id: 'img_show_zoom_cue',
                title: t('blacklight.images.zoom'),
                rel: 'nofollow',
                data: { turbo: false, bs_toggle: 'modal', bs_target: '#img_viewer_modal' } do %>
      <%= content_tag :i, '', class: 'img_zoom_icon fa-solid fa-magnifying-glass-plus' %>
    <% end %>
    <%= link_to(image_tag(helpers.filestream_disseminator_url(image_key, 'image_access_800'),
                          alt: document[helpers.blacklight_config.index.title_field.field],
                          class: 'img_show'),
                '#', id: 'img_viewer_link',
                class: 'img_viewer_link',
                title: t('blacklight.images.zoom'),
                rel: 'nofollow',
                data: { turbo: false, bs_toggle: 'modal', bs_target: '#img_viewer_modal' }) %>
  </div>

  <div id="img_viewer_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="img_viewer_title" data-turbo="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="img_viewer_title"><%= title_for_viewer_modal %></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>"></button>
        </div>
        <div class="modal-body" id="img_viewer_osd" data-tilesource="<%= osd_tilesource %>" data-navimages="<%= helpers.osd_nav_images %>"></div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</div>
