<div id="slideshow" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <% 0.upto carousel_slides.length-1 do |index| %>
      <li data-target="#slideshow" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% carousel_slides.each_with_index do |slide, index| %>
        <div class="carousel-item<%= ' active' if index == 0 %>">
          <%= link_to iiif_image_tag(slide.image_pid,
                                     { size: slide.size,
                                       alt: slide.title,
                                       region: slide.region }),
                      solr_document_path(id: slide.object_pid) %>
          <div class="carousel-caption">
            <h5><%= slide.title %></h5>
            <p><%= slide.institution %></p>
          </div>
        </div>
    <% end %>

  </div>
  <a class="carousel-control-prev" href="#slideshow" data-slide="prev" aria-label="previous">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#slideshow" data-slide="next" aria-label="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
