<% book_title = render_main_title(@document) %>
<% @page_title = book_title + ' - ' + application_name %>
<div id="viewer" data-group="1" data-index="1">
  <header>
    <nav>
      <h1>
        Title: <%= link_to book_title,
                           solr_document_path(book_id(@document)),
                           :id => 'header_title_link' %>
      </h1>
    </nav>
  </header>
  <div id="viewport">
    <div id="pages">
      <div class="page current">
        <%= iiif_image_tag(@image_files.first, {:size => 'pct:30', :alt => book_title}) %>
      </div>
    </div>
  </div>
  <footer>
    <nav class="toolbar">
      <div class="item-detail-nav">
        <%= link_to(solr_document_path(book_id(@document)), :id => 'back_to_item_link') do %>
            <%= content_tag(:i, '', :class => 'fa fa-angle-double-left') + ' ' + t('blacklight.book_viewer.item_link') %>
        <% end %>
      </div>
      <label class="group">
        Volume
        <select id="group" disabled>
          <option selected>
            1
          </option>
        </select>
      </label>
      <div class="index">
        <label>Page <input type="number" disabled class="current-index" value="1" min="1" max="1" step="1"></label> <label class="max-index-label">of <span class="max-index">1</span></label> <input disabled id="index" type="range" value="1" min="1" max="1" step="1"> <a id="previous_page" class="page previous disabled btn" title="<%= t('blacklight.book_viewer.controls.previous') %>"><i class="fa fa-arrow-left"></i></a> <a id="next_page" class="page next disabled btn" title="<%= t('blacklight.book_viewer.controls.next') %>"><i class="fa fa-arrow-right"></i></a>
      </div>
      <div class="controls"></div>
    </nav>
  </footer>
</div>

<%= render :partial => 'book_viewer_help' %>

<%# JS includes %>
<%= javascript_include_tag 'wdl-viewer/jquery.ba-throttle-debounce.min' %>
<%= javascript_include_tag 'openseadragon' %>
<%= javascript_include_tag 'wdl-viewer/wdl-viewer_commonwealth' %>
<%= render :partial => 'image_viewer/render_book_viewer', :locals => {:image_files => @image_files } %>
