<li class="folders_index_list_item">
  <h4>
    <%= link_to folder.title, folder, :class => "folder_title" %>
    <small class="folder_visibility">
      <% if folder.visibility == 'public' %>
        <%= icon('fas', 'eye', class: 'folder-icon', aria: { hidden: true }) %>
        <span class="visibility_public"><%= folder.visibility %></span>
      <% else %>
        <%= icon('fas', 'lock', class: 'folder-icon', aria: { hidden: true }) %>
        <span class="visibility_private"><%= folder.visibility %></span>
      <% end %>
    </small>
  </h4>
  <% if current_user %>
      <!--
      <div class="delete_folder">
      <%# link_to icon('fas', 'trash-alt', aria: { hidden: true }),
                  folder,
                  method: :delete,
                  data: { confirm: t('blacklight.folders.delete.confirm') },
                  title: "delete this folder" %>
      </div>
      -->
  <% end %>
  <div class="folder_status">
    <span class="folder_item_count">
      <%= pluralize(folder.folder_items.length.to_s,'item') %>
    </span>
    <span class="folder_updated_at">
      updated <%= time_ago_in_words(folder.updated_at) %> ago
    </span>
  </div>
  <% if folder.description %>
      <%= folder.description %>
  <% end %>
</li>