<% if query_has_constraints? %>
    <div id="appliedParams" class="clearfix constraints-container">
      <div class="pull-right">
        <ul id="constraintsLinks" class="list-inline">
          <li>
            <%= link_to t('blacklight.search.start_over'),
                        start_over_path,
                        :class => 'catalog_startOverLink btn btn-sm btn-default',
                        :id=> 'startOverLink' %>
          </li>
          <% if current_user %>
              <li>
                <%= link_to t('blacklight.saved_searches.save'),
                            blacklight.save_search_path( session[:history].first ),
                            :method => :put,
                            :id=>'saveSearchLink',
                            :class=>'catalog_saveSearchLink btn btn-sm btn-default' %>
              </li>
          <% end %>
        </ul>
      </div>
      <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
      <%= render_constraints(params) %>
      <%= render :partial => 'did_you_mean' %>
    </div>
<% end %>