<%# override so we can add save_search partial from Bpluser %>
<% if Deprecation.silence(Blacklight::RenderConstraintsHelperBehavior) { query_has_constraints? } %>
  <div id="appliedParams" class="clearfix constraints-container card bg-light">
    <div class="card-body">
      <h2 class="sr-only"><%= t('blacklight.search.search_constraints_header') %></h2>
      <div id="start_over_wrapper">
        <%= render 'start_over' %>
        <%= render 'save_search' if current_or_guest_user %>
      </div>
      <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
      <%= render_constraints(controller.params != params ? params : search_state) %>
    </div>
  </div>
<% end %>
