<% if current_or_guest_user %>
  <div class="documentFunctions">
    <div id="folder_item_toggle">
      <% if current_user %>
          <% existing_folders = current_user.folders %>
          <% existing_folder_item = current_user.existing_folder_item_for(document.id) %>
      <% else %>
          <% existing_folders = [] %>
      <% end %>

      <% unless bookmarked? document || existing_folder_item %>
        <% if existing_folders.empty? %>
          <%= form_tag( bookmark_path( document ), method: :put, remote: true) do %>
            <button class="btn btn-outline-secondary" type="submit">
                <%= icon('fas', 'folder-plus', class: 'show-tools-icon', aria: { hidden: true }) + ' ' + t('blacklight.folder_items.add.button') %>
            </button>
          <% end %>
        <% else %>
              <%= form_tag( bookmark_path( document ), method: :put, remote: true) do %>

                <div class="btn-group folder-item-control">
                    <button class="btn btn-outline-secondary" type="submit">
                        <%= icon('fas', 'folder-plus', class: 'show-tools-icon', aria: { hidden: true }) + ' ' + t('blacklight.folder_items.add.button') %>
                    </button>
                    <button id="folder_add_dropdown" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="folder_add_dropdown">
                        <%= link_to t('blacklight.bookmarks.title'),
                                    bookmark_path(document),
                                    method: :put,
                                    class: 'folder_item_add dropdown-item',
                                    remote: true %>

                        <% existing_folders.each do |folder| %>
                            <%= link_to folder.title,
                                        folder_item_path(document, folder_id: folder.id),
                                        method: :put,
                                        class: 'folder_item_add dropdown-item',
                                        remote: true %>

                        <% end %>
                    </div>
                </div>
              <% end %>
        <% end %>
      <% else %>
        <%= render partial: "folders/in_folder" %>
      <% end %>
    </div>
  </div>
<% end %>
