<%# social sharing links %>

<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
	<%= icon('fas', 'share-alt', aria: { hidden: true }) %>
	<span>Share</span>
</button>

<div class="dropdown-menu">
	<% social_sharing_links(@document).each do |social| %>
		<%= link_to social[:url], class: 'dropdown-item show-tools-sharing-link', target: '_blank', rel: 'nofollow' do %>
			<%= icon('fab', social[:icon], class: 'show-tools-sharing-icon', aria: { hidden: true }) %>
			<span><%= social[:name] %></span>
		<% end %>
	<% end %>

	<div class="dropdown-divider"></div>

	<%= link_to email_solr_document_path(id: @document), class: 'dropdown-item show-tools-sharing-link', id: 'emailLink', rel: 'nofollow', data: { blacklight_modal: 'trigger' } do %>
		<%= icon('far', 'envelope', class: 'show-tools-sharing-icon', aria: { hidden: true }) %>
		<span><%= t('blacklight.tools.email') %></span>
	<% end %>

	<button class="dropdown-item" onclick="navigator.clipboard.writeText('<%= @document['identifier_uri_ss'] %>')">
		<%= icon('fas', 'link', aria: { hidden: true }) %>
		<span>Copy link</span>
	</button>
</div>