<%# override so we can add ids and JS for event tracking %>
<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with(:prefix) do %>
    <div class="facet-pagination top row justify-content-between">
      <%= render partial: 'facet_pagination' %>
    </div>
  <% end %>

  <% component.with(:title, facet_field_label(@facet.key)) %>

  <%= render partial: 'facet_index_navigation' if @facet.index_range && @display_facet.index? %>

  <div id="<%= "facet-#{@facet.field}" %>" class="facet-extended-list">
    <%= render_facet_limit(@display_facet, layout: false) %>
  </div>

  <% component.with(:footer) do %>
    <div class="facet-pagination bottom row justify-content-between">
      <%= render partial: 'facet_pagination' %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
    $('a').click(function () {
        BlacklightGoogleAnalytics.track_link_clicks(this);
    });
</script>