<%= form_tag item_feedback_path,
             data: { blacklight_modal: 'trigger' },
             id: 'item_feedback_form',
             class: "modal_form",
             method: :post do %>
  <div class="modal-body">
    <% unless @errors.empty? %>
      <div id="error_explanation" class="alert alert-error">
        <ul class="errors">
          <% @errors.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-8">
        <%= hidden_field_tag 'ark_id', @document[:id] %>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"><%= t('blacklight.feedback.form.name') %></label>
          <div class="col-md-9">
            <%= text_field_tag :name, params[:name], class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"><%= t('blacklight.feedback.form.email') %></label>
          <div class="col-md-9">
            <%= text_field_tag :email, params[:email], class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"><%= t('blacklight.feedback.form.topic.label') %></label>
          <div class="col-md-9">
            <%= select_tag(:topic,
                           options_for_select(t('blacklight.feedback.item.topic.options').values.map { |v| v[:option] }),
                           id: 'message_type_select',
                           class: 'form-control') %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"><%= t('blacklight.feedback.form.message') %></label>
          <div class="col-md-9">
            <%= text_area_tag :message, params[:message], size: '24x6', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-md-3 col-md-4">
            <%= recaptcha_tags(id: 'item_feedback_recaptcha') %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="" class="modal-footer">
    <%= submit_tag(t('blacklight.feedback.submit'), class: 'btn btn-primary') %>
  </div>
<% end %>