<% @page_title = t('blacklight.feedback.title', :application_name => application_name) %>
<div class="col-sm-12" id="contact_content">
  <h1><%= t('blacklight.feedback.title') %></h1>

  <p><%= t('blacklight.feedback.blurb') %></p>

  <% unless @errors.empty? %>
    <div id="error_explanation" class="alert alert-error">
        <ul class="errors">
            <% @errors.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <%= form_tag(feedback_path, id: 'feedback_form') do %>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label"><%= t('blacklight.feedback.form.name') %></label>
          <div class="col-sm-6">
            <%= text_field_tag :name, params[:name], class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label"><%= t('blacklight.feedback.form.email') %></label>
          <div class="col-sm-6">
            <%= text_field_tag :email, params[:email], class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label"><%= t('blacklight.feedback.form.topic.label') %></label>
          <div class="col-sm-6">
            <%= select_tag(:topic,
                           options_for_select(feedback_type_options),
                           id: 'message_type_select',
                           class: 'form-control') %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label"><%= t('blacklight.feedback.form.message') %></label>
          <div class="col-sm-6">
            <%= text_area_tag :message, params[:message], size: '24x6', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 col-sm-4">
            <%= submit_tag(t('blacklight.feedback.submit'), class: 'btn btn-primary') %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3" id="contact_help">
      <div id="contact_help_text" class="alert alert-warning">
        <!-- content rendered dynamically by commonwealth-vlr-engine/feedback_alerts.js -->
      </div>
    </div>
  </div>
  <%= javascript_include_tag 'commonwealth-vlr-engine/feedback_alerts' %>
</div>