<% @page_title = t('blacklight.feedback.title', :application_name => application_name) %>
<div class="col-sm-9" id="contact_content">
<h2><%= t('blacklight.feedback.title') %></h2>

  <p><%= t('blacklight.feedback.blurb') %></p>

<% unless @errors.empty? %>
    <div id="error_explanation" class="alert alert-error">
        <ul class="errors">
            <% @errors.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_tag(feedback_path, :id => 'feedback_form', :class => 'form-horizontal') do %>
    <div class="form-group">
      <label class="col-sm-3 control-label"><%= t('blacklight.feedback.form.name') %></label>
      <div class="col-sm-4">
        <%= text_field_tag :name, params[:name], :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label"><%= t('blacklight.feedback.form.email') %></label>
      <div class="col-sm-4">
        <%= text_field_tag :email, params[:email], :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label"><%= t('blacklight.feedback.form.topic.label') %></label>
       <div class="col-sm-4">
         <%= select_tag(:topic,
                        options_for_select(t('blacklight.feedback.form.topic.options').values),
                        :class => 'form-control') %>
       </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label"><%= t('blacklight.feedback.form.message') %></label>
      <div class="col-sm-4">
        <%= text_area_tag :message, params[:message], :size => '24x6', :class =>  'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <%= submit_tag(t('blacklight.feedback.submit'), :class => 'btn btn-default') %>
      </div>
    </div>

<% end %>
</div>