<%# creating local version for google-analytics and mobile icons %>
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="<%= t('blacklight.application_desc') %>">
  <!-- for better IE rendering -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile viewport optimization h5bp.com/ad -->
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
  <!--[if IEMobile]>
  <meta http-equiv="cleartype" content="on">
  <![endif]-->

  <title><%= render_page_title %></title>
  <%= opensearch_description_tag application_name, opensearch_catalog_url(:format => 'xml') %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'dc_mobile-icons_60x60.png', :rel => 'apple-touch-icon', :type => 'image/png'  %>
  <%= favicon_link_tag 'dc_mobile-icons_76x76.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '76x76' %>
  <%= favicon_link_tag 'dc_mobile-icons_120x120.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '120x120' %>
  <%= favicon_link_tag 'dc_mobile-icons_152x152.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '152x152' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% insert_google_analytics %>
  <%= content_for(:head) %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <%= stylesheet_link_tag 'ie_fixes' %>
  <![endif]-->

</head>
<body class="<%= render_body_class %>">
<%= render :partial => 'shared/header_navbar' %>

<%= render :partial => 'shared/ajax_modal' %>

<!-- /container -->
<div id="main-container" class="container">

  <%= content_tag :h1, application_name, class: 'sr-only application-heading' %>

  <%= render :partial=>'/flash_msg', :layout => 'shared/flash_messages' %>

  <div class="row">
    <%= yield %>
  </div>
</div>

<%= render :partial => 'shared/footer' %>
</body>
</html>